@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap");
// colors
$main-color: #222831;
$sec-color: #393e46;
$c3-color: #00adb5;
$c4-color: #eee;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cairo", sans-serif;
  height: 100vh;
}
@import "./components/main";
section:not(.landing-page) {
  padding: 10px 0 60px 0;
  h1 {
    margin-bottom: 40px;
    border-bottom: $c3-color 5px solid;
    width: max-content;
  }
}
nav {
  @import "./components/nav";
}
.landing-page {
  @import "./page/landing-page";
}
.col-3-page {
  @import "./page/doc-page";
}
.why-page {
  @import "./page/why-page";
}
footer {
  text-align: center;
  background: $main-color;
  color: #eee;
  padding: 10px;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }
  section:not(.landing-page) {
    padding: 10px 0 40px 0;
    h1 {
      font-size: 21px;
      margin: 10px auto;
    }
  }
nav {
    flex-direction: column-reverse;
    > * {
      width: 100%;
      justify-content: center;
    }
    > ul {
      display: none;
    }
    .phones {
      display: block;
    }
    .more {
      display: flex;
    }
    .logo {
      order: 2;
    }
    .category {
      flex-direction: column;
      margin: 15px auto;
      li {
        width: 100%;
      }
      a {
        display: block;
        text-align: center;
        padding: 10px;
        border-radius: 2px;
      }
    }
    .social {
      justify-content: space-around;
    }
  } 
  .col-3-page .row {
    flex-direction: column-reverse;
    div {
      width: 90%;
      margin: auto;
    }
    .bu {
      margin: 15px auto 0;
    }
  }
  .why-page {
    .container {
      width: 90%;
    }
    .row {
      flex-direction: column;
      gap: 2rem;
      h2 {
        text-align: center;
      }
    }
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
