& {
  background: $main-color;
  color: $c4-color;
  padding-bottom: 40px;
  .row {
    margin: auto;
    > *:nth-child(2) {
      margin: 0 4rem;
    }
    div {
      h2 {
        margin: 0.67em auto 40px;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
