& {
  display: flex;
  flex-direction: column;
  background: $main-color;
  color: $c4-color;
  padding-bottom: 40px;
  .row{
    margin: auto;
    div {
    &:nth-child(2) {
      margin-left: 4rem;
      margin-right: 4rem;
    }
    h2 {
      margin: 0.67em auto 40px ;
    }
    p {
      font-size: 1.2em;
    }
  }}
}
