html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.card {
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: 5px;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.bu {
  cursor: pointer;
  background-color: $c3-color;
  border: none;
  color: $c4-color;
  padding: 12px 30px;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $c3-color;
  }
}
