& {
  position: fixed;
  z-index: 20;
  overflow: hidden;
  width: 100%;
  top: 0;
  background: $main-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.navbar {
  gap: 5px;
  color: $c4-color;
  justify-content: space-between;
  padding: 0 10px;
  > * {
    text-align: center;
  }
  ul {
    transition: all 1s;
    display: flex;
    padding: 0 4px;
    li {
      display: block;
      text-align: center;
      border-radius: 2px;
      margin: 15px 0;
      a {
        display: block;
        padding: 10px;
        &:hover {
          border-radius: 5px;
          color: white;
          background: gray;
        }
      }
    }
  }
  .logo {
    padding: 10px 10px 10px 35px;
    display: flex;
    a {
      margin: auto;
    }
    img {
      width: 40px;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    padding: 0;
    margin: auto 0;
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $c4-color;
      border-radius: 100px;
    }
    .bar:nth-child(2) {
      margin: 5px 0;
    }
    &.active {
      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
      }

      .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
